# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Synthie/v16/Browse.VC.opendb
/.vs/471Project/v16/Browse.VC.db
/.vs/Synthie/v16/ipch/f96b70fa0a0c1e80.ipch
/.vs/slnx.sqlite-journal
/.vs/Synthie/v16/ipch/94cf97c5e8a089bd.ipch
/.vs/Synthie/v16/.suo~a1e320b2f3f4d05e643a44122ef1a482520422d0
/.vs/Synthie/v16/.suo
/Debug/Synthie.ilk
/Debug/Synthie.pdb
/Synthie/Debug/Synthie.tlog/CL.command.1.tlog
/Synthie/Debug/Synthie.tlog/CL.read.1.tlog
/Synthie/Debug/Synthie.tlog/CL.write.1.tlog
/Synthie/Debug/Synthie.tlog/link.command.1.tlog
/Synthie/Debug/Synthie.tlog/link.read.1.tlog
/Synthie/Debug/Synthie.tlog/link.write.1.tlog
/Synthie/Debug/Synthie.tlog/rc.command.1.tlog
/Synthie/Debug/Synthie.tlog/rc.read.1.tlog
/Synthie/Debug/Synthie.tlog/rc.write.1.tlog
/Synthie/Debug/Synthie.tlog/Synthie.lastbuildstate
/Synthie/Debug/Synthie.exe.recipe
/Synthie/Debug/Synthie.log
/Synthie/Debug/Synthie.res
/Synthie/Debug/vc142.idb
/Synthie/Debug/vc142.pdb

/.vs/*
/Synthie/Debug/*
/Debug/*