# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Synthie/v16/Browse.VC.opendb
/.vs/471Project/v16/Browse.VC.db
/.vs/Synthie/v16/ipch/f96b70fa0a0c1e80.ipch
/.vs/slnx.sqlite-journal
/.vs/Synthie/v16/ipch/94cf97c5e8a089bd.ipch
/.vs/Synthie/v16/.suo~a1e320b2f3f4d05e643a44122ef1a482520422d0
